VITE_PRIMEUI_KEY=
VITE_PRODUCT_API_URL=http://localhost:5289
VITE_USER_API_URL=http://localhost:5291
VITE_KEYCLOAK_URL=http://localhost:8081
VITE_KEYCLOAK_REALM=kshop
VITE_KEYCLOAK_CLIENT_ID=kshop-frontend
